.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-horizontal {
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #333; /* Öğe metni rengi */
}

.menu li a:hover {
  color: #555; /* Fare üzerine gelindiğinde öğe metni rengi */
}
